# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
build/3rdpartylicenses.txt
build/favicon.ico
build/index.html
build/main-es5.23583be1490b69bc8d74.js
build/main-es2015.23583be1490b69bc8d74.js
build/polyfills-es5.fff98669e9d96cc8f205.js
build/polyfills-es2015.25ff13674b3056b14f77.js
build/runtime-es5.edb2fcf2778e7bf1d426.js
build/runtime-es2015.edb2fcf2778e7bf1d426.js
build/styles.88ad6c9e299a67b07f37.css
